* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hotel-grediant-button{
  text-decoration: none;
 
  padding: 10px 20px;
    background: linear-gradient(to right, #b4afa9, #7e6f5d);
    color: #fff;
    font-weight: bold;
    
  
}


#hotel_before_header_block {
  padding: 7px 0;
  background-color: #70b5d9;
}
#hotel_before_header_block .before_header_widget_left,
#hotel_before_header_block .before_header_widget_right {
  display: flex;
  align-items: center;
}
#hotel_before_header_block .before_header_widget_left p {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
}
#hotel_before_header_block .before_header_widget_right {
  justify-content: right;
}
#hotel_before_header_block .before_header_widget_right a {
  margin: 0 7px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
#hotel_before_header_block .before_header_widget_right a:nth-child(1) {
  color: #ffdfb6;
}
#hotel_before_header_block .before_header_widget_right a:nth-child(1):hover {
  color: #fff;
}
#hotel_before_header_block .before_header_widget_right a:hover {
  color: #ffdfb6;
  transition: 0.3s all;
}

#hotel_main_header_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  flex-direction: row;
}
#hotel_main_header_block .header_logo {
  width: 150;
  -o-object-fit: cover;
     object-fit: cover;
}
#hotel_main_header_block .header_logo img {
  max-width: 150px;
  height: 65px;
}
#hotel_main_header_block .header_nav_manu ul {
  display: flex;
  list-style: none;
}
#hotel_main_header_block .header_nav_manu ul li {
  margin: 0 2px;
  position: relative;
}
#hotel_main_header_block .header_nav_manu ul li a {
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
#hotel_main_header_block .header_nav_manu ul li a:hover {
  color: #3aa3f8;
  transition: 0.3s;
}
#hotel_main_header_block .header_nav_manu ul li a::before {
  content: "" !important;
  width: 0%;
  height: 1px !important;
  background: #3aa3f8;
  position: absolute;
  bottom: -5px;
  transition: 0.3s all;
  left: 50%;
  right: -50%;
  transform: translate(-50%, +50%);
}
#hotel_main_header_block .header_nav_manu ul li a:hover::before {
  width: 40%;
}
#hotel_main_header_block .header_nav_manu ul li ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  left: -99999px;
  position: absolute;
  margin-top: 15px;
}
#hotel_main_header_block .header_nav_manu ul li ul li {
  position: relative;
}
#hotel_main_header_block .header_nav_manu ul li ul li a {
  padding: 10px 40px;
  text-decoration: none;
  color: #000;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  
}
#hotel_main_header_block .header_nav_manu ul li ul li a:hover {
  color: #426c4f;
  transition: 0.3s;
}
#hotel_main_header_block .header_nav_manu ul li ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  width: 0;
  height: 1px;
  color: #426c4f;
}
#hotel_main_header_block .header_nav_manu ul li ul li a:hover::before {
  right: 100%;
  width: 100%;
}
#hotel_main_header_block .header_nav_manu ul li:hover ul {
  left: 0;
}
#hotel_main_header_block .header_widgets {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#hotel_main_header_block .header_widgets p {
  color: #000;
  padding-left: 10px;
  border-left: 2px solid #80715f;
  margin: 0;
}
#hotel_main_header_block .header_widgets .icons {
  display: flex;
  flex-direction: row;
  color: #fff;
  border-left: 2px solid #80715f;
  border-right: 2px solid #80715f;
  padding: 0 10px;
  justify-content: space-between;
}
#hotel_main_header_block .header_widgets .icons i {
  color: #fff;
  background-color: #80715f;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #7e6f5d;
}
#hotel_main_header_block .header_widgets a {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, #b4afa9, #7e6f5d);
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 10px;
} 

#hotel_main_header_block .header_widgets .icons i:hover {
  color: #7c6d5a;
  background: transparent;
  transition: 0.3s all;
}



/* responsive menu  */


@media only screen and (max-width: 600px) {
  #hotel_main_header_block .header_logo img {
    max-width: 130px;
    height: 70px;
   
  }
  #hotel_main_header_block .header_nav_manu ul {
   
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
  }
  #hotel_main_header_block .header_nav_manu ul li{
    margin: 5px 0;
  }
  #hotel_main_header_block .header_widgets {
    display: flex;
    flex-direction: column;
   margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  #hotel_main_header_block {
 
    flex-direction: row-reverse;
  }

}





/*=======================================
slider Area Style
========================================*/

#hero_slider_area .hero_slider .element {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero_slider_area .hero_slider .element .hero_single_slider {
  width: 100%;
  height: 700px;
  position: relative;
}

#hero_slider_area .hero_slider .element .hero_single_slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#hero_slider_area .hero_slider .element .hero_single_slider .slider_details {
  bottom: 15%;
  left: 50%;
  color: #fff;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  padding: 30px 30px 30px 30px ;
  border-left: 2px solid #78a6bb;
  border-right: 2px solid #78a6bb;
  border-bottom: 2px solid #78a6bb;
}
#hero_slider_area .hero_slider .element .hero_single_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#hero_slider_area .hero_slider .element .hero_single_slider .slider_details h2 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
#hero_slider_area .hero_slider .element .hero_single_slider .slider_details h2::after,
#hero_slider_area .hero_slider .element .hero_single_slider .slider_details h2::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 30%;
  top: 0;
  right: -32px;
  background: #78a6bb;
  margin-top: -30px;
}
#hero_slider_area .hero_slider .element .hero_single_slider .slider_details h2::before{
  left: -32px;
}
#hero_slider_area .hero_slider .element .hero_single_slider .slider_details p {
  font-size: 16px;
  font-weight: 400;
}
#hero_slider_area .hero_slider .element .hero_single_slider .slider_details a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  display: inline-block;
  border: 1px solid #fbad27;
  background-color: #fbad27;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
}

#hero_slider_area .hero_slider .slick-dots {
  list-style: none;
  position: absolute;
  left: 2px;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
}
#hero_slider_area .hero_slider .slick-dots ul{
  display: inline-block;
  margin: 0 5px;
}
#hero_slider_area .hero_slider .slick-dots ul button{
  text-indent: -9999px;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

#hero_slider_area #slick-slide-control00::before,
#hero_slider_area #slick-slide-control01::before,
#hero_slider_area #slick-slide-control02::before,
#hero_slider_area #slick-slide-control03::before,
#hero_slider_area #slick-slide-control04::before,
#hero_slider_area #slick-slide-control05::before {
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: transparent;
}

/* .single-slider {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  height: 100vh;
  
}
.single-slider .silder-img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #555454;
  opacity: 0.8;
  z-index: -1;
  
}

.slider-content {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
}
.slider-content h4 {
  text-transform: uppercase;
  font-size: 50px;
}
.slider-content a {
  display: inline-block;
  text-decoration: none;
  color: #050505;
  border-radius: 7%;
  font-weight: bold;
  background-color: #f8f8f8;
  text-transform: capitalize;
  padding: 10px 20px;
  margin-top: 30px;
  
}
#slider-section .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #0f0f0f;
  border: 0;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
#slider-section .slick-prev {
  left: 20px;
}
#slider-section .slick-next {
  right: 20px;
}

#slider-section .slick-dots {
  list-style: none;
  position: absolute;
  left: 2px;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
}
#slider-section .slick-dots li {
  display: inline-block;
  margin: 0 5px;

  
}
#slider-section .slick-dots li button {
  text-indent: -9999px;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
 

}
#slider-section .slick-dots li.slick-active button {
  background-color: #000000;
 
} */
 /* .slick-slide {
  height: 100vh;
} */

/*=======================================
  welcome to fusion style
========================================*/
/* .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #0f0f0f;
  border: 0;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
} */



/*=======================================
  footer_area  Style
========================================*/
 /* footer  */
#footer_area{
    background-color: #bad6e5;
    padding: 100px 0 50px 0;
    position: relative;
}
#footer_area  #footer_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

#footer_area #search {
    border: 1px solid #fff;
    border-right: none;
    outline: none;
  }

#footer_area .fa.fa-solid.fa-chevron-right {
    border: 1px solid #fff;
    padding: 5px;
    border-left: none;
    background: #fff;
    font-weight: 300;
    color: #ffdfb6;
}
#footer_area p {
    font-size: 25px;
}
#footer_area h2 {
    font-weight: 400;
    font-size: 25px;
}
#footer_area span {
    color: #fff;
    font-size: 16px;
  }


#footer_area .footer_social i {
    font-size: 24px;
    text-align: center;
    padding: 4px;
    margin-right: 12px;
    color: #fff;
    margin-bottom: 30px;
  }



   /* footer map  */
#footer_area .footer_map #gmap_canvas {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }


/* Footer Copyright */
#footer_copyright_area{
  text-align: center;
  padding: 10px 0;
  background: #8cafc3;
}
#footer_copyright_area p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

   /* CUSTOM STYLE ISOTOPE*/

#portfolio p {
  color: grey;
  font-size: 12px;
  font-weight: 200;
  }
  
  #portfolio-content.content {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  }
  #p-single-content.single-content {
  width:50%;
  
  }
  #p-single-content.single-content img {
  /* width: 290px; */
  width: 100%;
  
   height: 100%;
   padding: 10px;
  
  }
  
  #p-filters.filters {
  width: 100%;
  text-align: center;
  background-color: #7c6d5a;
  }
  
  #p-filters ul {
  list-style: none;
  padding: 20px 0;
  }
  
  #p-filters li {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #c4c2c2;
  font-weight: 400;
  cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  
  #p-filters li:hover {
  color: #ffffff;
  }
  
  #p-filters li.active {
  color: #f0f0f0;
border-bottom: 2px solid rgb(35, 120, 248);
 
 font-weight: bold;
  }
  
  /* CUSTOM STYLE ISOTOPE*/


  /* package section style  start*/

  #package-card{
    background-color: rgba(255, 255, 255, 0.849);
   
  }
  #package-card h5{
    color: #9bc8df;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    
  }
  #package-card-img{
    position: relative;
   
  }

  .package-card-img-smail{
    position: absolute;
    top: -3rem;
    right: 12rem;
  }

  /* package section style end*/

  #sister-card{
    background-color: rgba(255, 255, 255, 0.6);
  }


/* grand-hotel style start */
  #grand-hotel-bg-style{
   
    background-color: rgba(29, 6, 243,);
    z-index: 1;
    position: relative;

  }
  #grand-hotel-bg-style img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #grand-hotel-details{
   
  }
#grand-hotel-details img{
  width: 100%;
  height: 100%;
  
}
#grand-hotel-bg-style::after{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #7aafc5;
content:'';
opacity: .7;
  }
.grand-hotel-contain{
z-index: 99999; 
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
color: #ffffff;
  }
  .grand-hotel-contain::before{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -10px;
    height: 3px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    content: '';
  }
  /* grand-hotel style end */







  /* our-room-section-start */

/* #our-room-section.our-room-contain::before{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -10px;
  height: 3px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  content: '';
} */
#our-room-section .our-room-section-cards .our-room-section-card img{
  
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


.view-all-button{
  height: 120px;
  width: 120px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(to right, #b4afa9, #7e6f5d);
  display: flex;
align-items: center;

}
.view-all-button:hover{
background: #777776;
cursor: pointer;
}
.view-all-button a{
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-decoration: none;

}




  /* our-room-section-end */


  /* gallery */
#gallery_block {
  padding-top: 20px;
  background-color: #f9f4ed;
  text-align: center;
}
#gallery_block #gallery_content {
  padding: 50px 0;
}
#gallery_block #gallery_content .title {
  color: #998f83;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
#gallery_block #gallery_content .heading {
  color: #9bc8df;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}
#gallery_block #gallery_content .description {
  font-size: 28px;
  color: #998f83;
  line-height: 1;
  letter-spacing: -2.5px;
  font-style: italic;
}
#gallery_block #gallery_images .col-md-6 {
  
  height: 300px;
  overflow: hidden;
  position: relative;
}
#gallery_block #gallery_images .col-sm-6 {
margin: 10px 0;

}
#gallery_block #gallery_images .col-md-6 .gallery-imgs {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .3s ease-in-out;
 
  
}
#gallery_block #gallery_images .col-md-6 .gallery-imgs:hover {
  transform: rotate(2deg) scale(1.1);
  cursor: pointer;
  
}

#gallery_block #gallery_images .col-md-6 a img{
position: absolute;
bottom: 0;
width: 25px;
margin: 7px;
z-index: 9999;
cursor: pointer;
}












#event_block {
  padding-top: 20px;
  background-color: #f9f4ed;
}
#event_block #event_gallery .col-md-6 {
  overflow: hidden;
}
#event_block #event_gallery .col-md-6 a {
  height: 250px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
#event_block #event_gallery .col-md-6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.4s;
}
#event_block #event_gallery .col-md-6 img:hover {
  transform: scale(1.1) rotate(2deg);
}
#event_block #event_content {
  margin-right: 10px;
  padding: 40px;
  text-align: center;
}
#event_block #event_content .row {
  display: flex;
  align-items: center;
}
#event_block #event_content .heading {
  color: #88c1de;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}
#event_block #event_content .description {
  text-align: left;
  font-size: 21px;
  font-weight: 400;
}
#event_block #event_content .button {
  justify-content: center;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  color: #998f83;
  background-color: transparent;
  border: 2px solid #998f83;
  padding: 10px 20px;
}
#event_block #event_content .button:hover {
  color: #fff;
  background-color: #998f83;
  border: 1px solid #fff;
  transition: 0.3s all;
}


  
  















/* Package Block */
#package_block {
  padding: 100px 0;
  background-image: url(../img-2/pkg-bg.jpg);
}
#package_block .row {
  /* padding: 0 100px; */
}
#package_block .content {
  padding: 20px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 35px;
  background-color: rgba(255, 255, 255, 0.86);
  border: 10px solid #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

#package_block .content .icon{
position: absolute;
left: 40%;
top: -10%;
transform: translateX(-50%);
width: 80px;
}
#package_block .content .package_thumb_image {
  height: 350px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
#package_block .content .thumb_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#package_block .content h2{
font-weight: 700;
text-transform: uppercase;
color: #9bc8df;
font-size: 24px;
margin-bottom: 15px;
}
#package_block .content p{
  font: 24px !important;
}

#package_block .content a.button {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
  background-color: #998f83;
  border: 2px solid #998f83;
  padding: 10px 20px;
  width: 50%;
  display: flex;
  justify-content: center;
}
#package_block .content a.button:hover {
  color: #998f83;
  background-color: transparent;
  border: 1px solid #998f83;
  transition: 0.3s all;
}


@media only screen and (min-width: 600px) {


}