* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top header */
.top-header{
  display: flex;
  justify-content: space-between;
  background-color: #70b5d9;
  color: #ffff;
  align-items: center;
}
.top-menu ul{
  display: flex;
  
}
.top-menu ul li {
  list-style: none;
  

  margin: 0 10px;
}
.top-menu ul li a{
text-decoration: none;
color: #fff;
}

#hotel_before_header_block {
  padding: 10px 0;
  background-color: #70b5d9;
}
#hotel_before_header_block .before_header_widget_left,
#hotel_before_header_block .before_header_widget_right {
  display: flex;
  align-items: center;
}
#hotel_before_header_block .before_header_widget_left p {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
}
#hotel_before_header_block .before_header_widget_right {
  justify-content: right;
}
#hotel_before_header_block .before_header_widget_right a {
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}
#hotel_before_header_block .before_header_widget_right a:nth-child(1) {
  color: #ffdfb6;
}
#hotel_before_header_block .before_header_widget_right a:nth-child(1):hover {
  color: #fff;
}
#hotel_before_header_block .before_header_widget_right a:hover {
  color: #ffdfb6;
  transition: 0.3s all;
}

#hotel_main_header_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
#hotel_main_header_block .header_logo {
  width: 150;
  -o-object-fit: cover;
     object-fit: cover;
}
#hotel_main_header_block .header_logo img {
  max-width: 150px;
  height: 65px;
}
#hotel_main_header_block .header_nav_manu ul {
  display: flex;
  list-style: none;
}
#hotel_main_header_block .header_nav_manu ul li {
  margin: 0 5px;
  position: relative;
}
#hotel_main_header_block .header_nav_manu ul li a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
#hotel_main_header_block .header_nav_manu ul li a:hover {
  color: #426c4f;
  transition: 0.3s;
}
#hotel_main_header_block .header_nav_manu ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  width: 0;
  height: 1px;
  color: #426c4f;
}
#hotel_main_header_block .header_nav_manu ul li a:hover::before {
  right: 100%;
  width: 100%;
}
#hotel_main_header_block .header_nav_manu ul li ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  left: -99999px;
  position: absolute;
  margin-top: 15px;
}
#hotel_main_header_block .header_nav_manu ul li ul li {
  position: relative;
}
#hotel_main_header_block .header_nav_manu ul li ul li a {
  padding: 10px 40px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  margin-left: -10px;
}
#hotel_main_header_block .header_nav_manu ul li ul li a:hover {
  color: #426c4f;
  transition: 0.3s;
}
#hotel_main_header_block .header_nav_manu ul li ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  width: 0;
  height: 1px;
  color: #426c4f;
}
#hotel_main_header_block .header_nav_manu ul li ul li a:hover::before {
  right: 100%;
  width: 100%;
}
#hotel_main_header_block .header_nav_manu ul li:hover ul {
  left: 0;
}
#hotel_main_header_block .header_widgets {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#hotel_main_header_block .header_widgets p {
  color: #000;
  padding-left: 10px;
  border-left: 2px solid #80715f;
  margin: 0;
}
#hotel_main_header_block .header_widgets .icons {
  display: flex;
  flex-direction: row;
  color: #fff;
  border-left: 2px solid #80715f;
  border-right: 2px solid #80715f;
  padding: 0 10px;
  justify-content: space-between;
}
#hotel_main_header_block .header_widgets .icons i {
  color: #fff;
  background-color: #80715f;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hotel_main_header_block .header_widgets a {
  color: #fff;
  background-color: #80715f;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 4px;
}



/*=======================================
slider Area Style
========================================*/
.single-slider {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  height: 100vh;
  
}
.single-slider .silder-img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #555454;
  opacity: 0.8;
  z-index: -1;
  
}

.slider-content {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
}
.slider-content h4 {
  text-transform: uppercase;
  font-size: 50px;
}
.slider-content a {
  display: inline-block;
  text-decoration: none;
  color: #050505;
  border-radius: 7%;
  font-weight: bold;
  background-color: #f8f8f8;
  text-transform: capitalize;
  padding: 10px 20px;
  margin-top: 30px;
  
}
#slider-section .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #0f0f0f;
  border: 0;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
#slider-section .slick-prev {
  left: 20px;
}
#slider-section .slick-next {
  right: 20px;
}

#slider-section .slick-dots {
  list-style: none;
  position: absolute;
  left: 2px;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
}
#slider-section .slick-dots li {
  display: inline-block;
  margin: 0 5px;
  
}
#slider-section .slick-dots li button {
 
  border: 2px solid white;
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
 

}
#slider-section .slick-dots li.slick-active button {
  background-color: #000000;
 
}
 /* .slick-slide {
  height: 100vh;
} */

/*=======================================
  welcome to fusion style
========================================*/
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #0f0f0f;
  border: 0;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}



/*=======================================
  footer_area  Style
========================================*/
/* footer /
#footer_area{
    background-color: #bad6e5;
    padding: 100px 0 50px 0;
    position: relative;
}
#footer_area  #footer_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

#footer_area #search {
    border: 1px solid #fff;
    border-right: none;
    outline: none;
  }

#footer_area .fa.fa-solid.fa-chevron-right {
    border: 1px solid #fff;
    padding: 5px;
    border-left: none;
    background: #fff;
    font-weight: 300;
    color: #ffdfb6;
}
#footer_area p {
    font-size: 25px;
}
#footer_area h2 {
    font-weight: 400;
    font-size: 25px;
}
#footer_area span {
    color: #fff;
    font-size: 16px;
  }


#footer_area .footer_social i {
    font-size: 24px;
    text-align: center;
    padding: 4px;
    margin-right: 12px;
    color: #fff;
    margin-bottom: 30px;
  }



  / footer map /
#footer_area .footer_map #gmap_canvas {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
  }


/ Footer Copyright */
#footer_copyright_area{
  text-align: center;
  padding: 10px 0;
  background: #8cafc3;
}
#footer_copyright_area p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

   /* CUSTOM STYLE ISOTOPE*/

#portfolio p {
  color: grey;
  font-size: 12px;
  font-weight: 200;
  }
  
  #portfolio-content.content {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  }
  #p-single-content.single-content {
  width:33%;
  
  }
  #p-single-content.single-content img {
  /* width: 290px; */
  width: 100%;
  
   height: 100%;
   padding: 10px;
  
  }
  
  #p-filters.filters {
  width: 100%;
  text-align: center;
  }
  
  #p-filters ul {
  list-style: none;
  padding: 20px 0;
  }
  
  #p-filters li {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  
  #p-filters li:hover {
  color: #a6a6a6;
  }
  
  #p-filters li.active {
  color: #f0f0f0;
  border: 1px solid #050505;
  background-color: #0f0f0f;
  border-radius: 5px;
 font-weight: bold;
  }
  
  /* CUSTOM STYLE ISOTOPE*/


  /* package section style  start*/
  #package-card-img{
    position: relative;
  }
  .package-card-img-smail{
    position: absolute;
    top: -3rem;
    right: 12rem;
  }

  /* package section style end*/

  
  
  
